.poster{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seats{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.seat{
  margin: 20px;
}

.last{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

